<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новая запись</title>
</head>
<body>

<h1>Добавить запись</h1>

<form method="post">

    <p>
        Имя клиента:
        <input type="text" name="name" required>
    </p>

    <p>
        Услуга:
        <select name="service">

            <option>
                Замена шин
            </option>

            <option>
                Балансировка колес
            </option>

            <option>
                Ремонт прокола
            </option>

        </select>
    </p>

    <p>
        Дата:
        <input type="date" name="date" required>
    </p>

    <button type="submit">
        Сохранить запись
    </button>

</form>

<br>

<a href="/">
    Вернуться на главную
</a>

</body>
</html>